exports/sentinel/malware-containment.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Malware Containment & Eradication",
    "description": "Automated containment and eradication workflow for endpoints with confirmed malware infection. Isolates the host, collects forensic artifacts, and remediates.",
    "prerequisites": "Required: Microsoft Sentinel enabled workspace",
    "lastUpdateTime": "2026-03-12T14:00:00.000Z",
    "tags": [
      "malware",
      "endpoint",
      "containment",
      "edr"
    ],
    "source": {
      "kind": "Community",
      "name": "PlaybookForge"
    },
    "support": {
      "tier": "Community"
    },
    "_playbookforge": {
      "source_format": "cacao-2.0",
      "source_id": "playbook--b2c3d4e5-f6a7-8901-bcde-f12345678901"
    }
  },
  "parameters": {
    "PlaybookName": {
      "defaultValue": "malware-containment-&-eradication",
      "type": "string",
      "metadata": {
        "description": "Name of the Logic App / Playbook"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "hidden-SentinelTemplateName": "malware-containment-&-eradication",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Isolate_Infected_Host": {
              "type": "Compose",
              "inputs": "Network-isolate the compromised endpoint via EDR to prevent lateral movement.",
              "runAfter": {},
              "description": "Network-isolate the compromised endpoint via EDR to prevent lateral movement."
            },
            "Collect_Forensic_Artifacts": {
              "type": "Compose",
              "inputs": "Gather memory dump, running processes, network connections, and persistence mechanisms.",
              "runAfter": {
                "Isolate_Infected_Host": [
                  "Succeeded"
                ]
              },
              "description": "Gather memory dump, running processes, network connections, and persistence mechanisms."
            },
            "Identify_Malware_Family": {
              "type": "Compose",
              "inputs": "Analyze collected samples to identify the malware family and TTPs used.",
              "runAfter": {
                "Collect_Forensic_Artifacts": [
                  "Succeeded"
                ]
              },
              "description": "Analyze collected samples to identify the malware family and TTPs used."
            },
            "Lateral_Movement_Detected": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@{variables('lateral_movement_detected == true')}",
                        ""
                      ]
                    }
                  }
                ]
              },
              "actions": {},
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Identify_Malware_Family": [
                  "Succeeded"
                ]
              },
              "description": "Check if the malware has spread to other endpoints in the network."
            },
            "Isolate_Additional_Hosts": {
              "type": "Compose",
              "inputs": "Isolate all endpoints that show signs of compromise from lateral movement.",
              "runAfter": {
                "Lateral_Movement_Detected": [
                  "Succeeded"
                ]
              },
              "description": "Isolate all endpoints that show signs of compromise from lateral movement."
            },
            "Remediate__Clean": {
              "type": "Compose",
              "inputs": "Remove malware artifacts, kill malicious processes, and clean persistence mechanisms.",
              "runAfter": {
                "Isolate_Additional_Hosts": [
                  "Succeeded"
                ]
              },
              "description": "Remove malware artifacts, kill malicious processes, and clean persistence mechanisms."
            },
            "Verify_Clean_State": {
              "type": "Compose",
              "inputs": "Run full system scan to verify all malware artifacts have been removed.",
              "runAfter": {
                "Remediate__Clean": [
                  "Succeeded"
                ]
              },
              "description": "Run full system scan to verify all malware artifacts have been removed."
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ]
}